/*navbar*/
.navbar{
  background-color: black;
}
.offcanvas_custom{
  background-color: black!important;
  max-width: 100%!important;
}
.nav_item_custom{
  margin-left: 1.5rem;
}
/*/navbar*/

/*main*/
.containerMain{
  margin-top: 10rem;
  text-align: center;
}
.heading1{
  color: black!important;
}
.checkIcon{
  font-size: 5rem;
  color: green;
}
/*/main*/

/*footer*/
.footer-container{
  margin-top: 4rem;
  background-color: #000000;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.icon-container{
  position: relative;
  top: 0.5rem;
}
.foot-icn{
  margin-left: 0.8rem;
  margin-top: 2rem;
  color: white;
}
.footer-rule{
  color: white;
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}
.footer-credit{
  color: white;
  text-decoration: none;
}
/*/footer*/
/*responsiveness*/
@media (max-width:575px){
  /*navbar*/
  .nav_item_custom{
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .offcanvas_custom{
    max-width: 70%!important;
  }
  /*/navbar*/
}
@media (min-width: 576px){
  /*navbar*/
  .nav_item_custom{
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  /*/navbar*/
}
@media (min-width: 768px){
  /*navbar*/
  .nav_item_custom{
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  /*/navbar*/
}
@media (min-width: 992px){
  /*navbar*/
  .nav_item_custom{
    margin-top: 0.001rem;
    font-size: 1.1rem;
  }
}

/*/responsiveness*/
